@use "src/styles/variables" as *;

.vm-autocomplete {
  display: flex;
  align-items: stretch;

  &-base-panel {
    flex-grow: 1;
  }

  &__no-options {
    padding: $padding-global;
    text-align: center;
    color: $color-text-secondary;
    font-style: italic;
  }

  &__loader {
    display: grid;
    grid-template-columns: 14px auto;
    align-items: center;
    justify-content: center;
    gap: $padding-small;
    padding: $padding-global;
    color: $color-text-secondary;
    z-index: 2;
    pointer-events: none;

    svg {
      animation: vm-spinner-animation 1s infinite linear;
    }
  }

  &__warning {
    position: relative;
    padding: $padding-global;
    background-color: $color-background-block;
    border-top: $border-divider;
    color: $color-warning;
    font-size: $font-size-small;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $color-warning;
      opacity: 0.1;
    }
  }
}

@keyframes vm-spinner-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
